/* Navbar.css */
.sidebar {
  transition: transform 0.3s;
  transform: translateX(-100%); /* Initially hidden to the left */
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Semi-transparent background for fade effect */
  overflow-y: auto; /* Enable scrolling if content is too long */
}

.sidebar.translate-x-0 {
  transform: translateX(0); /* Slide in from the left when open */
}

/* Add media query to hide the sidebar on larger screens */
@media (min-width: 768px) {
  .sidebar {
    transform: translateX(0); /* Show on larger screens */
  }
}
